.post:not(:last-child) {
  margin: 0 0 4em 0;
}

.post {
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.post small {
  text-transform: uppercase;
  color: #777;
}

.postTitle {
  box-shadow: none;
  color: #555;
  text-decoration: inherit;
  background-image: inherit;
  transition: color 0.1s ease-in;
}

.postTitle:hover {
  color: #4075c3;
}

.content {
  margin-left: 2em;
  flex: 1;
}

.postThumb {
  height: 10em !important;
  width: 15em !important;
  border-radius: 1em;
}

@media screen and (max-width: 768px) {
  .post {
    flex-direction: column;
  }
  .content {
    margin-left: auto;
    margin-top: 0.5em;
  }
  .postThumb {
    height: 14em !important;
    width: 95% !important;
  }
}
