#main {
  padding-right: 23em;
  transition: all 500ms ease;
}

#main a {
  color: #039be5;
}

.wrapper:first-child {
  border-top: 0;
}

.wrapper {
  border-top: solid 6px #f4f4f4;
}

.wrapper > section {
  display: block;
  width: 45em;
  padding: 2em 0 2em 0;
  margin-left: auto;
  margin-right: auto;
}

#development-skills > span {
  display: inline-block;
  font-size: .9em;
  color: #333;
  background-color: #f2f2f2;
  padding: .2em .5em .2em .5em;
  margin: 0 .5em .5em 0;
  border-radius: 4px;
}

#tools-skills > span {
  display: inline-block;
  font-size: .9em;
  color: #333;
  background-color: #f2f2f2;
  padding: .2em .5em .2em .5em;
  margin: 0 .5em .5em 0;
  border-radius: 4px;
}

.wikipedia {
  color: #6a737b !important;
}

.mozilla {
  color: #c13832 !important;
}

.italiancoders {
  color: #1e73be !important;
}
