@media (max-width: 1750px) {
    body font-size:14pt;
}

@media (max-width: 1450px) {
    body font-size:12pt;
}

@media (max-width: 1270px) {
    #main {
      padding-right:0;
    }
    #header {
        right:-16em;
    }
    #burger {
      display:inline-block; position:fixed;
    }
}

@media (max-width: 950px) {
    #main {
      width:90%; margin:auto;
    }
    #main > .wrapper > section {
      width:auto;
    }
    .image {
        display:block !important;
        width:35% !important;
        margin:auto;
    }
    .descr {
        display: block !important;
        width:98% !important;
        margin:auto;
    }
    #menu > a {
      padding:.1em;
    }
}

@media (max-width: 500px) {

  #main {
    font-size: 12pt;
  }
  #header {
    font-size: 14pt;
  }
  #burger {
    font-size: 12pt;
  }
}

@media (max-width: 350px) {
  #header {
    font-size: 10pt;
  }
}
